.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
}

.code {
  font-size: 3rem;
  font-weight: 700;
}

.message {
  font-size: 1.125rem;
  color: var(--foreground);
  opacity: 0.7;
}

.link {
  margin-top: 1rem;
  text-decoration: underline !important;
}
